$primary: #a2231d;
$border-color: #8673a1;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: $primary;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

//BOARD GAME

.memory-game-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #fff;
        font-size: 4rem;
    }

    #highest-score {
        color: #fff;
        font-size: 2rem;
    }

    .memory-game-wrapper {
        display: grid;

        width: 700px;
        height: 700px;

        max-width: 700px;
        height: 700px;

        padding: 12px;
        gap: 8px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        &.easy {
            grid-template-columns: repeat(4, minmax(100px, 1fr));
            grid-template-rows: repeat(4, minmax(100px, 1fr));
        }

        &.medium {
            grid-template-columns: repeat(6, minmax(80px, 1fr));
            grid-template-rows: repeat(6, minmax(80px, 1fr));
        }

        &.hard {
            grid-template-columns: repeat(8, minmax(40px, 1fr));
            grid-template-rows: repeat(8, minmax(40px, 1fr));
        }

        .memory-card {
            position: relative;
            transition: 0.3s;
            perspective: 1000px;
            transform-style: preserve-3d;

            &:active {
                transform: scale(0.96);
                filter: drop-shadow(0 8px 32px 0 rgba(0, 0, 0, 0.5));
            }

            &.flip {
                transform: rotateY(-180deg);
            }

            .front-face,
            .back-face {
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 16px;
                backface-visibility: hidden;
                user-select: none;
            }

            .front-face {
                transform: rotateY(180deg);
                object-fit: cover;

                background: rgba(255, 0, 0, 0.35);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
            }

            .back-face {
                background: rgba(0, 3, 5, 0.75);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);

                cursor: pointer;
                transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    transform: rotateX(20deg);
                }
            }
        }
    }
}

#timer {
    color: #fff;
}

//DIFFICULITY

.difficulty-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .difficulty-wrapper {
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            color: #fff;
            // margin-bottom: 80px;
            font-size: 4.6rem;
            text-shadow: 4px 3px 0 #7a7a7a;
        }

        h2 {
            color: #fff;
            margin-bottom: 80px;
            font-size: 2.6rem;
            text-shadow: 4px 3px 0 #7a7a7a;
        }

        button {
            position: relative;
            display: block;
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border-radius: 4px;
            border: 2px solid #fff;
            transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                top: var(--y);
                left: var(--x);
                transform: translate(-50%, -50%) scale(0);
                border-radius: 50%;
                z-index: -1;
                aspect-ratio: 1 / 1;
                transition: 0.2s;
            }

            &:hover {
                transform: scale(1.03);
                text-shadow: 2px 1px 0 #000000;
            }

            &:active {
                transform: scale(0.97);
                box-shadow: 4px 3px rgba($color: #000000, $alpha: 1);

                &::before {
                    background-color: rgba($color: coral, $alpha: 0.4);
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }

        .difficulty-option {
            display: flex;

            .btn {
                padding: 10px 16px;
                font-size: 1.56rem;
                margin: 0 12px;

                &.active {
                    background-color: coral;
                    text-shadow: 2px 1px 0 #000000;
                }
            }
        }

        .btn-start {
            margin-top: 24px;
            font-size: 1.8rem;
            padding: 12px 40px;
        }

        #error {
            margin-top: 18px;
            color: #fff;
            font-size: 1.4rem;
        }
    }
}

.end-game-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s all ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;

        .end-game-wrapper {
            transform: translateY(0%) scale(1);
        }
    }

    .end-game-wrapper {
        width: 600px;
        height: 460px;
        background-color: $primary;
        border-radius: 6px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: #fff;

        transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-delay: 0.2s;

        transform-origin: center center;

        transform: translateY(-20%) scale(0.6);

        .end-game-result {
            width: 100%;
            height: 240px;
            object-fit: contain;
        }

        .btns {
            margin-top: 24px;

            .btn-start {
                position: relative;
                cursor: pointer;
                background-color: transparent;
                color: #fff;
                border-radius: 4px;
                border: 2px solid #fff;
                transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
                overflow: hidden;
                padding: 10px 16px;
                font-size: 1.56rem;
                margin: 0 12px;

                &:hover {
                    transform: scale(1.03);
                    text-shadow: 2px 1px 0 #000000;
                }

                &:active {
                    transform: scale(0.97);
                    box-shadow: 4px 3px rgba($color: #000000, $alpha: 1);

                    &::before {
                        background-color: rgba($color: coral, $alpha: 0.4);
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
    }
}

.volume-control {
    position: absolute;
    top: 20px;
    right: 32px;

    i {
        position: relative;
        font-size: 4rem;
        color: #fff;
        cursor: pointer;
        transition: 0.14s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.97);
        }
    }
}
